<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiolos.food.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.aiolos.food.pojo.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="restaurant_id" jdbcType="INTEGER" property="restaurantId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
</mapper>